# CONFIG_MALI_CSF_SUPPORT is not set
# CONFIG_BCMDHD is not set
# CONFIG_BT_HCIUART is not set
# CONFIG_MALI400 is not set
# CONFIG_MALI_MIDGARD is not set
CONFIG_MALI_BIFROST=y
CONFIG_MALI_PLATFORM_NAME="rk"
