# CONFIG_BCMDHD is not set
# CONFIG_BT_HCIUART is not set
# CONFIG_MALI400 is not set
# CONFIG_MALI_MIDGARD is not set
CONFIG_MALI_VALHALL=y
CONFIG_MALI_VALHALL_PLATFORM_NAME="rk"
CONFIG_MALI_VALHALL_REAL_HW=y
CONFIG_MALI_VALHALL_CSF_SUPPORT=y
CONFIG_MALI_VALHALL_DEVFREQ=y
CONFIG_MALI_VALHALL_GATOR_SUPPORT=y
CONFIG_MALI_VALHALL_TRACE_POWER_GPU_WORK_PERIOD=y
